﻿@model FizzBuzz.Web.Models.FizzBuzzModel

@{
    ViewBag.Title = "Fizz-Buzz List";
}

@using PagedList
@using PagedList.Mvc

<h2>Output</h2>

<link href="~/Styles/FizzBuzz.css" rel="stylesheet" type="text/css" />
@Html.AntiForgeryToken()

@foreach (var element in Model.ResultList)
{
    var wordlist = element.Split(' ');
    if (wordlist.Count() > 1)
    {
        <p>
            @foreach (var word in wordlist)
            {
                <span class="@word">@word</span>
            }
        </p>

    }
    else
    {
        <P class="@element">@element</P>
    }
}

@Html.PagedListPager((IPagedList)Model.ResultList, page => Url.Action("FizzBuzzList", "FizzBuzz", new { page = page, UserInput = Model.UserInput }), PagedListRenderOptions.MinimalWithPageCountText)


