﻿@model FizzBuzz.Web.Models.FizzBuzzModel 
@{
    ViewBag.Title = "Fizz-Buzz Web Application";
}

<h2>Fizz-Buzz web application</h2>
@using (Html.BeginForm("FizzBuzzList", "FizzBuzz", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <label for= "userinput">Please enter a value: -</label>
    
    <div>
        @Html.ValidationMessageFor(m => m.UserInput, "")
        <div>
            @Html.TextBoxFor(m => m.UserInput, new {Value = ""})
        </div>
    </div>
    <div>
        <button type="submit" name="submit" class="btn btn-info" id="submit" value="submit">submit</button>
    </div>
    

    if (Model.ResultList != null)
    {
        @Html.Partial("FizzBuzzList",Model)   
    }

}

